Django
requests
django-filter
djangorestframework
djangorestframework-simplejwt
requests
PyJWT
asgiref
gunicorn
psycopg2-binary
pytz
sqlparse
django-templated-mail
djoser
Pillow
reportlab
django-colorfield
webcolors
django-cors-headers
drf_base64